extends layout

block content
  h1= title
  p Welcome to #{title}

  br
  p.text2 balance:
  #balance.balanceText
  br
  p.text Your chip:
  #chipNum.chipText
  input#inputEth(placeholder='Input your ETH')
  #buyChip.btn-flat-border.eth Buy Chip
  input#inputChip(placeholder='Input your Chip')
  #exchangeChip.btn-flat-border.chip Exchange Chip

  p
  table
    tbody
      tr
        td(style='border-style: none;')
          #0.button_num.button-zero <br><br>0
        td(style='border-style: none;')
          #3.button_num.button-red 3
          #6.button_num.button-black 6
          #9.button_num.button-red 9
          #12.button_num.button-red 12
          #15.button_num.button-black 15
          #18.button_num.button-red 18
          #21.button_num.button-red 21
          #24.button_num.button-black 24
          #27.button_num.button-red 27
          #30.button_num.button-red 30
          #33.button_num.button-black 33
          #36.button_num.button-red 36

          #pat3.button_num.button-column 1to2

          br

          #2.button_num.button-black 2
          #5.button_num.button-red 5
          #8.button_num.button-black 8
          #11.button_num.button-black 11
          #14.button_num.button-red 14
          #17.button_num.button-black 17
          #20.button_num.button-black 20
          #23.button_num.button-red 23
          #26.button_num.button-black 26
          #29.button_num.button-black 29
          #32.button_num.button-red 32
          #35.button_num.button-black 35

          #pat2.button_num.button-column 1to2

          br

          #1.button_num.button-red 1
          #4.button_num.button-black 4
          #7.button_num.button-red 7
          #10.button_num.button-black 10
          #13.button_num.button-black 13
          #16.button_num.button-red 16
          #19.button_num.button-red 19
          #22.button_num.button-black 22
          #25.button_num.button-red 25
          #28.button_num.button-black 28
          #31.button_num.button-black 31
          #34.button_num.button-red 34

          #pat1.button_num.button-column 1to2
      tr
        td(style='border-style: none;')
        td(style='border-style: none;')
          #SMAL.button_num.button-range 1st 12
          #MIDDLE.button_num.button-range 2nd 12
          #LARGE.button_num.button-range 3rd 12
      tr
        td(style='border-style: none;')
        td(style='border-style: none;')
          #LOW.button_num.other 1 to 18
          #EVEN.button_num.other EVEN
          #RED.button_num.other.red RED
          #BLACK.button_num.other.black BLACK
          #ODD.button_num.other ODD
          #HIGH.button_num.other HIGH
  br
  h2= "spin a roulette wheel"
  #spin.button_turn SPIN!

  br
  h2="RESULT:"

  #output.chipText

  script(type='text/javascript', src='/javascripts/index.js')
