extends layout

block content
  h1= title
  p Welcome to #{title}

  #3.button_num.button-red 3
  #6.button_num.button-black 6
  #9.button_num.button-red 9
  #12.button_num.button-red 12
  #15.button_num.button-black 15
  #18.button_num.button-red 18
  #21.button_num.button-red 21
  #24.button_num.button-black 24
  #27.button_num.button-red 27
  #30.button_num.button-red 30
  #33.button_num.button-black 33
  #36.button_num.button-red 36

  #LARGE.button_num.button-range 1to2

  br

  #2.button_num.button-black 2
  #5.button_num.button-red 5
  #8.button_num.button-black 8
  #11.button_num.button-black 11
  #14.button_num.button-red 14
  #17.button_num.button-black 17
  #20.button_num.button-black 20
  #23.button_num.button-red 23
  #26.button_num.button-black 26
  #29.button_num.button-black 29
  #32.button_num.button-red 32
  #35.button_num.button-black 35

  #MIDDLE.button_num.button-range 1to2

  br

  #1.button_num.button-red 1
  #4.button_num.button-black 4
  #7.button_num.button-red 7
  #10.button_num.button-black 10
  #13.button_num.button-black 13
  #16.button_num.button-red 16
  #19.button_num.button-red 19
  #22.button_num.button-black 22
  #25.button_num.button-red 25
  #28.button_num.button-black 28
  #31.button_num.button-black 31
  #34.button_num.button-red 34

  #SMALL.button_num.button-range 1to2