extends layout

block content
  h1= title
  p Welcome to #{title}

  #3.button.button-red 3
  #6.button.button-black 6
  #9.button.button-red 9
  #12.button.button-red 12
  #15.button.button-black 15
  #18.button.button-red 18
  #21.button.button-red 21
  #24.button.button-black 24
  #27.button.button-red 27
  #30.button.button-red 30
  #33.button.button-black 33
  #36.button.button-red 36

  br

  #2.button.button-black 2
  #5.button.button-red 5
  #8.button.button-black 8
  #11.button.button-black 11
  #14.button.button-red 14
  #17.button.button-black 17
  #20.button.button-black 20
  #23.button.button-red 23
  #26.button.button-black 26
  #29.button.button-black 29
  #32.button.button-red 32
  #35.button.button-black 35

  br

  #1.button.button-red 1
  #4.button.button-black 4
  #7.button.button-red 7
  #10.button.button-black 10
  #13.button.button-black 13
  #16.button.button-red 16
  #19.button.button-red 19
  #22.button.button-black 22
  #25.button.button-red 25
  #28.button.button-black 28
  #31.button.button-black 31
  #34.button.button-red 34