body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.text {
  border: 0;
  padding: 10px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: tomato;
}


.button_num {
  display: inline-block;
  position: relative;
  height: 30px;
  border: solid 1px #ccc;
  padding: 15px 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.button-black {
  width: 30px;
  background: rgb(0, 0, 0);
}

.button-red {
  width: 30px;
  background: rgb(255, 0, 0);
}

.button-range {
  color: #000000;
  width: 90px;
  background: aliceblue;
}


.button-black:hover, .button-range:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
  background-image: -webkit-linear-gradient(top, #aaa, #888);
  background-image: -moz-linear-gradient(top, #aaa, #888);
  background-image: -ms-linear-gradient(top, #aaa, #888);
  background-image: -o-linear-gradient(top, #aaa, #888);
  background-image: linear-gradient(top, #aaa, #888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#888', GradientType=0); /* IE6-9 */
}

.button-black:active, .button-range:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
  background-image: -webkit-linear-gradient(top, #888, #555);
  background-image: -moz-linear-gradient(top, #888, #555);
  background-image: -ms-linear-gradient(top, #888, #555);
  background-image: -o-linear-gradient(top, #888, #555);
  background-image: linear-gradient(top, #888, #555);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888', endColorstr='#555', GradientType=0); /* IE6-9 */
}

.button-red:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffafb9), to(#ff6261));
  background-image: -webkit-linear-gradient(top, #ffafb9, #ff6261);
  background-image: -moz-linear-gradient(top, #ffafb9, #ff6261);
  background-image: -ms-linear-gradient(top, #ffafb9, #ff6261);
  background-image: -o-linear-gradient(top, #ffafb9, #ff6261);
  background-image: linear-gradient(top, #ffafb9, #ff6261);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffafb9', endColorstr='#ff6261', GradientType=0); /* IE6-9 */
}

.button-red:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 112, 122)), to(rgba(255, 0, 0, 0.49)));
  background-image: -webkit-linear-gradient(top, rgb(255, 112, 122), rgba(255, 0, 0, 0.49));
  background-image: -moz-linear-gradient(top, rgb(255, 112, 122), rgba(255, 0, 0, 0.49));
  background-image: -ms-linear-gradient(top, rgb(255, 112, 122), rgba(255, 0, 0, 0.49));
  background-image: -o-linear-gradient(top, rgb(255, 112, 122), rgba(255, 0, 0, 0.49));
  background-image: linear-gradient(top, rgb(255, 112, 122), rgba(255, 0, 0, 0.49));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF707A', endColorstr='#FF0000', GradientType=0); /* IE6-9 */
}
